@media(max-width:768px){
    footer{
    @include medias;
    align-items:center ;
    img{
        width: 3.5vw;
    }
    .contacto{
        margin: 2% 2%;
        h6{
            font-size: 2.5vw;
            font-weight: bold;
            &:hover{
                color:white;
                transition: 3s;
                text-shadow: $shadow;
            }
        }
    }
    .button{
        margin: 2% 2%;
        button{
        background:$fondo_button;
        border-radius: 10px;
        font-size:2.5vw;
        font-weight: bold;
        border-color: $borde_button;
        font-family: $font;
        }
    }
    } 
}